<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class=" navbar-inverse navbar-inner navbar-fixed-top">
				<a class="navbar-brand" href='#'> tree book </a> 
				<li class="nav navbar-brand"><%= link_to "All Statuses" , statuses_path %></li>
				<% if user_signed_in? %>
					<ul class="nav nav-tabs pull-right">
							<li><%= link_to current_user.profile_name, edit_user_registration_path %></li>
							<li><%= link_to "Log Out",destroy_user_session_path, method: :delete %></li>
					</ul>
				<% else %>	
					<ul class="nav nav-tabs pull-right">
						<li><%= link_to "Register", register_path %></li>
						<li><%= link_to "Log In", login_path %></li>
					</ul>
				<% end %>	
	</div>
	<div class="container">
	  
	  	<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>

	    <%= yield %>
	    
	</div>
</body>
</html>
